@{
    ViewData["Title"] = "Home Page";
}

<div><canvas id="lineChart1"></canvas></div>


@{ChartJSCore.Models.Chart chart1 = (ChartJSCore.Models.Chart)ViewData["chart1"]; }


@section Scripts {
    <script src="~/lib/Chart.js/dist/Chart.js"></script>
    <script>
        @Html.Raw(chart1.CreateChartCode("lineChart1"));
     

    </script>
}